* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    font-family: Roboto, sans-serif;    
}

body {    
    background-image:url('./assets/bgk.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    padding: 40px 60px;
    height: 100vh;
}

.menu {
    display: flex;
    gap: 40px;
}

.logo {
    width: 80px;
    height: 80px;
    background-image: url('./assets/logo.png');
    background-size: contain;
    margin-top: -15px;

}

nav {
    font-size: 20px;    
    font-weight:  bold;    

    width: 100%;
    gap: 40px;
    display: flex;    
}

a {
    text-decoration: none;    
    color: bisque;
}

h1 {
    margin-left: 40px;
    margin-top: 150px;
    padding-bottom: 40px;
    color: #fff;
}

p {
    margin-left: 40px;
    color: #fff;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper h1 {
    margin-left: 0px;
}

.wrapper button {
    padding: 10px 20px;
    border-radius: 6px;
    background-color: transparent;
    border: #fff solid 1px;
    
    color: #fff;
}

